    
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  }

.console, .skillSet, .scrollContainer, #projects{
    width: 100%;
    margin: auto;
}

.console{
    background-color: #ccc;

    border-radius: 5px;
    font-family: "Monaco","Courier New"
}
.content{
    background-color: #383737;
    color: white;
}
.experience{
    width: 100%;
    margin: auto;
}
.experienceHead{
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}
.eatEmUp{
    background-image: url(Logo%20Texas_State_University_Bobcats.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.img-container{
    padding: 2rem;
}
.toServe{
    height: 100%;
    background-image: url(USAA_auto_insurance.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*relevant course work*/
/*horizontal scroll effect*/
/*
#myWorkContent{
    background-color: #00bcd4;
    width: auto;
    height:210px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
hide the scroll bar
#myWorkContent::-webkit-scrollbar{
    display: none;
}
*/
        
.jobTitle{
    font-size: 1.3em;
}

.date{
    float: right;
    color: dodgerblue;
    font-style: italic;
    font-size: 80%;
}

table{
    border-spacing: 4px;
    width: 100%;
}
.skillSetSub{
    color: #fafafa;
    padding-top: 1%;

}
.listedSkills{
    text-align: center;
}

.btn p{
 font-size: 120%;    
}

.languages, .operating{
    background-color: #34495E;

}
.frameworks, .other{
    background-color: #67809F;
}
.skillSet .skill{
    border-color: #BDC3C7;
    background-color: #BDC3C7;
    font-size: 14px;
    margin-bottom: 2px; margin-top: 2px;

}
.skill{
    border: 1px solid #50a9d1;
    border-radius: 8px;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    font-size: 11px;
    padding: 4px 10px;
}
ul{
    list-style: none;
}    

.show {display:block;}




.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em 2em 0em 2em;
}

.is-center {
    text-align: center;
}

.pure-menu-heading{
    font-size: 150%;

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 7%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}


/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 2em 0 1em;
}


/* This is the class used for the footer */
.footer {
    background: #111;
}
@media only screen and (max-width: 768px){

    .jobTechnologies{
        display: none;
    }
    .jobDivider{
        border-top: 1px solid #eee;
    }
    .jobDesc{
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
   h1{
    font-size: 1em;
    }
    h2{
        font-size: 0.5em;
    }
    h3{
        font-size: .17em;
    }  
    .jobContainer{
        position: relative;
        overflow: hidden;
    }
    .jobContainer:after{
        content: "";
        background: lightgray;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    .jobContainer:active:after {
        padding: 0;
        opacity: 1;
        transition: 0s
    }

}
/*        here is where i add for larger screens*/

@media only screen and (min-width: 768px){
    .jobTechnologies{
        display: inline;

    }
    .console, .skillSet, .experience, .scrollContainer, #projects{
        width: 60%;

    }

}




.projectTile{
    width: 15em;
    height: 15em;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-size: contain;
}
#mobile{
    background-image: url("http://images.clipartpanda.com/cell-phone-call-icon-smart_phone_mobile_smartphone_communication_cellphone_blank_device_technology_flat_design_icon-512.png");
}
#webApp{
    background-color: #009688;
    background-image: url("http://www.iconsfind.com/wp-content/uploads/2016/04/20160406_5704784546154.png");
}
#gui{
    background-color: #609;
    background-image: url("")
}
.projectTile:hover {
    opacity: 0.5;
    
}
