
  .star-enter {
    transform: translateX(-100%) scale(1);
  }
  .star-enter-active {
    transform: translateX(0%) scale(1);
    transition: all 300ms ease-out;
  }
  .star-exit {
    transform: translateX(-100%) scale(1);
  }
  .star-exit-active {
    transform: translateX(0%) scale(1);
    
  }